body {
  margin: 0;
  overflow: hidden;
  background: #87ceeb; /* آبی آسمانی */
}

#gameCanvas {
  display: block;
  background: #87ceeb;
}

#controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

#controls button {
  font-size: 18px;
  padding: 10px;
  margin-right: 5px;
}
